@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

body {
  font-family: georgia;
  background-color: cadetblue;
  background-image: url('strawberry_thief.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Pirata One', cursive;
  font-size: 72px;
  font-weight: normal;
  margin-top: 0;
}

h2 {
  font-size: 36px;
  margin-top: 1.3em;
}

h3 {
  font-size: 28px;
}

p {
  font-size: 24px;
}

.main {
  background-color: #ffebe6;
  text-align: center;
  width: fit-content;
  padding: 50px;
  border-radius: 75px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.heart-thing {
    font-weight: lighter;
    color: #b78888;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
  row-gap: 40px;
}
.grid p:nth-child(odd) { /* left */
  text-align: right;
  font-weight: bold;
}
.grid p:nth-child(even) { /* right */
  text-align: left;
}
.grid p {
  margin: 0;
}
